<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "me.jpg", width: 300, alt: "profile image"%>
  </div>

  <div class="col-md-8">
    <p>I am a Novice Programmer who is trying to better himself and be successful, by doing something that I truly enjoy and challenging myself with it!</p>
  </div>
</div>


