<h1>Contact Info</h1>

<h3>My phone Number </h3>

<p><%= number_to_phone '8016445160'%></p>

<h3>Email</h3>

<p><a href="mailto:tolmanau@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>